.config-slider-box {
  margin-top: 3vh;
}

.config-setting-module {
  top: 0;
  left: 0;
  width: auto;
  margin-left: 5vh;
  margin-right: 1vh;
  margin-top: 10px;
}

.config-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4px;
}

.config-slider {
  height: 7px;
  width: 490px;
  margin: 10px;
  -webkit-appearance: none;
  outline: none;
  background: #e5d1fa;
  border-radius: 1vh;
}

.config-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #665aff;
  border-radius: 50%;
  cursor: pointer;
}

.config-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #665aff;
}

.config-title {
  top: 88%;
  left: 35%;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  font-family: verdana;
  font-size: medium;
  font-weight: 700px;
  color: #343434;
}

.config-value {
  font-weight: bold;
  font-size: medium;
  font-family: verdana;
}
