@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,300;1,400&display=swap");

.constructionplan-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.constructionplan-popupinner {
  position: absolute;
  left: 30%;
  top: 10%;
  border-radius: 30px;
  width: auto;
  height: auto;
  background-color: #eddbc7;
}

.constructionplan-container {
  width: auto;
  height: 100vh;
  background-color: #282b30;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.constructionplaninput {
  position: absolute;
  width: auto;
  height: 80vh;
  font-size: 15px;
  font-family: '"Fira code", "Fira Mono", monospace';
  border: none;
  z-index: 1000;
}

.reset-button {
  /* position: absolute; */
  background-color: #da2c43;
  /* border-radius: 5px; */
  font-family: "Roboto Mono", monospace;
  color: #1e2124;
  font-size: 35px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 53px;
}

.reset-button:hover {
  border: solid;
}

.save-button {
  /* position: absolute; */
  background-color: #98fb98;
  font-family: "Roboto Mono", monospace;
  color: #1e2124;
  /* border-radius: 5px; */
  font-size: 35px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 53px;
  justify-content: center;
}

.save-button:hover {
  border: solid;
}

.execute-button {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: xx-large;
  font-weight: bold;
  left: 50%;
  top: 85vh;
  transform: translateX(-50%);
  border-width: 0;
  border-radius: 2vh;
  width: 15vw;
  height: 10vh;
  background-color: #fedf00;

  transition: background-color 0.7s, border 0.7s;
}

.execute-button:hover {
  background-color: #d5bc00;
  border: solid;
}

.compile-message {
  font-family: '"Fira code", "Fira Mono", monospace';
  color: aliceblue;
  justify-content: center;
}
