.constructionplan-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.constructionplan-popupinner {
  position: absolute;
  left: 30%;
  top: 10%;
  border-radius: 30px;
  width: 650px;
  height: 550px;
  background-color: #eddbc7;
}
