.done-button {
  position: absolute;
  top: 88%;
  left: 35%;
  background-color: #00dc30;
  border-radius: 30px;
  font-size: 32px;
  font-weight: bold;
  border: none;
  width: 180px;
  height: 53px;
}

.done-button:hover {
  border: solid;
}

.check-icon {
  font-size: 30px;
}
