.execute-button {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: xx-large;
  font-weight: bold;
  left: 50%;
  top: 85vh;
  transform: translateX(-50%);
  border-width: 0;
  border-radius: 2vh;
  width: 15vw;
  height: 10vh;
  background-color: #fedf00;

  transition: background-color 0.7s, border 0.7s;
}

.execute-button:hover {
  background-color: #d5bc00;
  border: solid;
}
