.btnconplan {
  position: absolute;
  top: 30%;
  left: 85%;
  border-radius: 50%;
  border: none;
  width: 150px;
  height: 150px;
  font-size: 21px;
  font-weight: bold;
  background-color: #ffaacf;
}

.btnconplan:hover {
  border: solid;
}

.territory {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #424549;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.area {
  position: fixed;
  padding: 17500px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  width: 17500px;
  height: 20000px;
}

/* .zoomin {
  position: absolute;
  top: 16.2%;
  left: 75%;
  border: none;
  width: 50px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  background-color: #146c94;
}

.zoomout {
  position: absolute;
  top: 16.2%;
  left: 71.5%;
  border: none;
  width: 50px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  background-color: #146c94;
} */

/* .zoomin:hover {
  border: solid;
  background-color: #f6f1f1;
}

.zoomout:hover {
  border: solid;
  background-color: #f6f1f1;
} */

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
