.btnstartgame1 {
  position: absolute;
  top: 500px;
  left: 34%;
  padding: 10px 15px;
  border: "none";
  border-radius: 50px;
  width: 500px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Rouge Script";
}

.btnstartgame1:hover {
  background-image: linear-gradient(
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  border: solid;
}

.inputname {
  position: absolute;
  top: 400px;
  left: 36%;
  width: 400px;
  height: 60px;
  font-size: 30px;
  font-family: Georgia, serif;
}

.btnjoin {
  position: absolute;
  top: 500px;
  left: 36%;
  width: 400px;
  font-size: 40px;
  font-weight: bold;
  font-family: system-ui;
  color: whitesmoke;
  background: black;
}

.btnjoin:hover {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: black;
  border: solid;
}

.btnjoin:disabled {
  position: absolute;
  top: 500px;
  left: 36%;
  width: 400px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  background: whitesmoke;
}

.joingame {
  position: absolute;
  top: 200px;
  left: 33.5%;
  font-size: 80px;
  font-weight: bold;
  font-family: cursive;
  color: #645cbb;
}

.waiting {
  position: absolute;
  left: 3%;
}

.crewname {
  position: relative;
  top: 80px;
  left: 3.5%;
  font-size: 20px;
  font-family: Georgia, serif;
  font-weight: bold;
}

.square {
  position: relative;
  top: 77px;
  left: 3%;
  width: 320px;
  padding: 1px 15px;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
