.btnnewgame {
  position: absolute;
  bottom: 25%;
  left: 20%;
  background: #ffaacf;
  border: none;
  width: 400px;
  height: 400px;
  font-size: 75px;
  font-weight: bold;
  font-family: "Great Vibes";
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.btnnewgame:hover {
  border-style: solid;
  background-color: #fee140;
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  border-color: black;
  color: #d61936;
}

.btnfileconfig {
  position: absolute;
  bottom: 25%;
  left: 55%;
  background: #ffaacf;
  border: none;
  width: 400px;
  height: 400px;
  font-size: 75px;
  font-weight: bold;
  font-family: "Great Vibes";
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.btnfileconfig:disabled {
  position: absolute;
  bottom: 25%;
  left: 55%;
  background: #d1d1d1;
  border: none;
  width: 400px;
  height: 400px;
  font-size: 75px;
  font-weight: bold;
  color: #6b0039;
}

.btnfileconfig:disabled:hover {
  border: none;
  color: #6b0039;
}

.btnfileconfig:hover {
  border-style: solid;
  background-color: #fbda61;
  background-image: linear-gradient(90deg, #fbda61 0%, #ff5acd 100%);
  border-color: black;
  color: #d619cb;
}

.fileconfiginput {
  position: absolute;
  bottom: 14%;
  right: 7%;
  padding: 32px;
  height: 350px;
  width: 500px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  z-index: 1000;
}

.circle-1 {
  position: absolute;
  top: 55%;
  left: 40%;
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.circle-2 {
  position: absolute;
  bottom: 50%;
  right: 55%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.circle-3 {
  position: absolute;
  top: 55%;
  right: 75%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.circle-4 {
  position: absolute;
  top: 50%;
  left: 75%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.circle-5 {
  position: absolute;
  top: 5%;
  left: 60%;
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
