body {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.text {
  position: absolute;
  top: 25%;
  text-align: center;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 75px;
  font-weight: 700px;
  color: #ffb84c;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(186, 31, 210, 0.4);
}

.btnstart {
  position: absolute;
  top: 500px;
  left: 13%;
  padding: 10px 15px;
  color: black;
  background-image: linear-gradient(
    64.3deg,
    rgba(254, 122, 152, 0.81) 17.7%,
    rgba(255, 206, 134, 1) 64.7%,
    rgba(172, 253, 163, 0.64) 112.1%
  );
  border-radius: 50px;
  border: none;
  width: 500px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Rouge Script";
}

.btnstart:hover {
  background-image: radial-gradient(
    circle farthest-corner at 10.2% 55.8%,
    rgba(252, 37, 103, 1) 0%,
    rgba(250, 38, 151, 1) 46.2%,
    rgba(186, 8, 181, 1) 90.1%
  );
  border: solid;
  border-color: black;
  color: #d6d419;
}

.bg {
  width: 1px;
  height: 1px;
}
