.hex {
  float: left;
  margin-right: -40px;
  margin-bottom: 10px;
  transition: opacity 0.12s;
}

.hex.even {
  margin-top: -93px;
}

.hex:hover {
  opacity: 0.8;
}

.hex-row {
  clear: left;
}

.hex .middle:hover {
  background-color: #adb5bb;
}

.hex .tile-stats {
  visibility: hidden;
  opacity: 0;
  min-width: 40vw;
  background-color: black;
  color: #eff0f6;

  border-radius: 5vh;
  margin: 0;
  padding: 5vh;

  position: absolute;
  z-index: 1;

  transition: opacity 0.7s;
  transition-delay: 0.5s;
}

.hex:hover .tile-stats {
  visibility: visible;
  opacity: 1;
}

.tile-stats p {
  color: #eff0f6;
  font-family: "Roboto Mono", monospace;
  font-size: 10vh;
  font-style: italic;

  margin: 0;
}
